$white : #ffffff;
$ltgrey : #ebebeb;
$headerlinks: #6d6e70;
$mdgrey : darken($ltgrey, 8%);
$grey : darken($ltgrey, 16%);
$mddkgrey : darken($ltgrey, 24%);
$dkgrey : darken($ltgrey, 32%);
$black : #000000;
$calired: #b12424;
$darkgreen: #323429;
$greellow: #f3fecb;