@import "compass/css3";
@import "fonts/_adrip1";
@import "_colors";

* {
	box-sizing: border-box;
	position: relative;
	outline: 0;
}

body {
     background: url(../img/base_bg.jpg) $darkgreen repeat;
     background-size: cover;
     color:$greellow;
}

h1 {
   color:$greellow;
   margin-bottom:0;
}

h3 {
    color: lighten($calired, 50%);
    margin-top:2px;
}

a {
    color: $calired;

    &:hover {
        color:$darkgreen;
    }
}

#header {
    position:fixed;
    display:block;
    left:0;
    top:0;
    width: 100%;
    height: 55px;
    background: rgba($black, 0.2);
    z-index:3;
    @include box-shadow(0 0 51px -13px $black inset);
    border-bottom:1px solid rgba($ltgrey,0.4);

    ul {
        display:inline-block;
        top:5px;
        list-style-position: outside;
        list-style-type: none;
        color: $white;
        @include transition(all .4s);
        @media screen and (max-width: 900px){
            top: 2px;
            @include transition(all .4s);
        }

        li {
            float: left;
            padding:10px;
            font-size:2.0em;
            font-family:"Graff", Helvetica;
            cursor:pointer;
            @include transition(all .4s);

            &.active {
                cursor:normal;
                @include transition(all .4s);
                color:$calired;
                font-size:2.8em;
                top: -8px;

                &:hover {
                    color:$calired;
                }
            }

            &:hover {
                @include transition(all .4s);
                color:$greellow;
            }
        }
    }

}

#content {
    margin-top: 65px;
    @include transition(margin .4s);
    @media screen and (max-width:960px) {
        margin-top:55px;
        @include transition(margin .4s);
    }

    @media screen and (max-width:420px) {
        margin-top:45px;
        @include transition(margin .4s);
    }


}

#info {
    @include border-radius(4px);
    @include box-shadow(0 0 23px rgba($black, 0.7));
    background: rgba($white, 0.9);
    padding:5px;
    color:$darkgreen;
    p {
        font-size:1.2em;

    }

    u {
        color:$calired;
    }

}

#logo {
    display:inline-block;
    vertical-align:top;
    margin-top:10px;
    margin-left: 1%;
    width:150px;
    cursor:pointer;
    @include transition(all .4s);

    @media screen and (max-width: 970px) {
        @include transition(all .4s);
        width : 90px;

    }

}

#tools {
    float:right;
    display:inline-block;

    #echo-cast, #leap-motion, #mobile {
        @include opacity(0);
        @include transition(opacity .3s);
    }

    #mobile {
        @media screen and (max-width:420px) {
            @include opacity(1);
            @include transition(opacity .3s);
        }
    }
}




