<div id="header">
    <div id="logo">
        <img src="img/eta_logo.png" title="Nate Lubeck | Javascript Ninja">
    </div>
    <ul id="nav">
        <li>Code</li>
        <li>Art</li>
        <li>Life</li>
        <li class="active">Info</li>
    </ul>
    <div id="tools">
        <div id="leap-motion"></div>
        <div id="echo-cast"></div>
        <div id="mobile">

        </div>
    </div>
</div>