
@font-face {
    font-family: 'Graff';
    src: url('fonts/adrip1/adrip1.eot');
    src: url('fonts/adrip1/adrip1.eot') format('embedded-opentype'),
    url('fonts/adrip1/adrip1.woff') format('woff'),
    url('fonts/adrip1/adrip1.ttf') format('truetype'),
    url('fonts/adrip1/adrip1.svg#adrippingmarkerRegular') format('svg');
}
