@font-face {
    font-family: 'adrippingmarkerRegular';
    src: url('adrip1.eot');
    src: url('adrip1.eot') format('embedded-opentype'),
         url('adrip1.woff') format('woff'),
         url('adrip1.ttf') format('truetype'),
         url('adrip1.svg#adrippingmarkerRegular') format('svg');
}
