<div class="row">
  	<h1>404</h1>
  	<div class="small-6 small-centered columns">
	  	<p>DOH! Something got lost in your quest to find the end of the internet. <a href="/">Go back?</a></p>
  	</div>
</div>
