{{{partial "header/base"}}}

<div id="content" class="row">
    <div class="ten columns mobile-four centered">
        <h1>Nate Lubeck</h1>
        <h3>JavaScript Developer</h3>
        <div id="info">
            <p>I'm currently employed at: <a href="http://www.agentace.com" target="_blank">AgentAce</a></p>
            <ul>
            Feel free to connect with me via:
            <li>Twitter: <a href="http://www.twitter.com/etanlubeck" target="_blank">@etanlubeck</a></li>
            <li>Dribbble: <a href="http://www.dribbble.com/etanlubeck" target="_blank">@etanlubeck</a> | GitHub: <a href="http://www.github.com/etanlubeck" target="_blank">@etanlubeck</a> | <a href="http://www.behance.net/etanlubeck" target="_blank">Behance</a></li>
            <li>LinkedIn: <a href="http://www.linkedin.com/in/etanlubeck" target="_blank">www.linkedin.com/in/etanlubeck</a></li>
            <li>Email: <a href="mailto:me@natelubeck.com?Subject=Hire%20Me">me@natelubeck.com</a></li>

            </ul>
        </div>
    </div>
</div>

