@font-face {
  font-family: 'Graff';
  src: url("fonts/adrip1/adrip1.eot");
  src: url("fonts/adrip1/adrip1.eot") format("embedded-opentype"), url("fonts/adrip1/adrip1.woff") format("woff"), url("fonts/adrip1/adrip1.ttf") format("truetype"), url("fonts/adrip1/adrip1.svg#adrippingmarkerRegular") format("svg");
}

/* line 5, ../../assets/sass/main.scss */
* {
  box-sizing: border-box;
  position: relative;
  outline: 0;
}

/* line 11, ../../assets/sass/main.scss */
body {
  background: url(../img/base_bg.jpg) #323429 repeat;
  background-size: cover;
  color: #f3fecb;
}

/* line 17, ../../assets/sass/main.scss */
h1 {
  color: #f3fecb;
  margin-bottom: 0;
}

/* line 22, ../../assets/sass/main.scss */
h3 {
  color: #f8dcdc;
  margin-top: 2px;
}

/* line 27, ../../assets/sass/main.scss */
a {
  color: #b12424;
}
/* line 30, ../../assets/sass/main.scss */
a:hover {
  color: #323429;
}

/* line 35, ../../assets/sass/main.scss */
#header {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  -webkit-box-shadow: 0 0 51px -13px black inset;
  -moz-box-shadow: 0 0 51px -13px black inset;
  box-shadow: 0 0 51px -13px black inset;
  border-bottom: 1px solid rgba(235, 235, 235, 0.4);
}
/* line 47, ../../assets/sass/main.scss */
#header ul {
  display: inline-block;
  top: 5px;
  list-style-position: outside;
  list-style-type: none;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 900px) {
  /* line 47, ../../assets/sass/main.scss */
  #header ul {
    top: 2px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
}
/* line 59, ../../assets/sass/main.scss */
#header ul li {
  float: left;
  padding: 10px;
  font-size: 2.0em;
  font-family: "Graff", Helvetica;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 67, ../../assets/sass/main.scss */
#header ul li.active {
  cursor: normal;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #b12424;
  font-size: 2.8em;
  top: -8px;
}
/* line 74, ../../assets/sass/main.scss */
#header ul li.active:hover {
  color: #b12424;
}
/* line 79, ../../assets/sass/main.scss */
#header ul li:hover {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #f3fecb;
}

/* line 88, ../../assets/sass/main.scss */
#content {
  margin-top: 65px;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
@media screen and (max-width: 960px) {
  /* line 88, ../../assets/sass/main.scss */
  #content {
    margin-top: 55px;
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
  }
}
@media screen and (max-width: 420px) {
  /* line 88, ../../assets/sass/main.scss */
  #content {
    margin-top: 45px;
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
  }
}

/* line 104, ../../assets/sass/main.scss */
#info {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 23px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 23px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  color: #323429;
}
/* line 110, ../../assets/sass/main.scss */
#info p {
  font-size: 1.2em;
}
/* line 115, ../../assets/sass/main.scss */
#info u {
  color: #b12424;
}

/* line 121, ../../assets/sass/main.scss */
#logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 1%;
  width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 970px) {
  /* line 121, ../../assets/sass/main.scss */
  #logo {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    width: 90px;
  }
}

/* line 138, ../../assets/sass/main.scss */
#tools {
  float: right;
  display: inline-block;
}
/* line 142, ../../assets/sass/main.scss */
#tools #echo-cast, #tools #leap-motion, #tools #mobile {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 420px) {
  /* line 147, ../../assets/sass/main.scss */
  #tools #mobile {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
